.showcase {
    background: url('../img/header.jpg') no-repeat 0 -100px;
    height: 600px;
    padding:30px 0;

    h1 {
        font-size: 38px;
    }

    .container {
        background: #fff;
        opacity: 0.8;
        padding:20px 30px 30px 30px;
    }
}

.section-question {
    background-color: $main-color;
    color: set-text-color($main-color);
    font-weight: bold;
    .container {
        padding: 30px 0;
    }
}

.section-experience2 {
    .container {
        padding: 30px 0;
    }
}

.section-entreprise {
    margin: 30px;

    .fab,.fa,.fas {
        font-size: 65px;
        width:100%;
    }

    .card {
        text-align: center;
        background: ligthen(#ccc,2.7%);
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
        @include media-breakpoint-up(xs){
           width: 100%;
        }

        @include media-breakpoint-up(sm){
            width: 100%;
         }
    }
}

.section-a {
    padding: 30px 0;
    text-align: center;

    h2{
        margin-bottom: 30px;
    }

    .fab,.fa,.fas {
        font-size: 85px;
        width:100%;
    }
    .card-text,.card-title{
        color:set-text-color(darken($main-color,4.7%));
    }
    .card {
        background: darken($main-color,4.7%);
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
        @include media-breakpoint-up(xs){
           width: 100%;
        }

        @include media-breakpoint-up(sm){
            width: 100%;
         }
    }
    .container {
        @include media-breakpoint-up(xs){
            padding:0;
         }

        @include media-breakpoint-up(sm){
            padding:0;
         }
    }

    .card:hover{
        background: lighten($main-color,4.7%);
    }
}

.section-b {
    section {
        font-family: 'Source Sans Pro',Helvetica,Helvetica,Arial,sans-serif; 
        font-size: 16px;
        line-height: 1.75;
    }
}

.section-c{
    background: $main-color;
    padding: 30px 0;
    text-align: center;
    color: set-text-color($main-color);
}