.showcase {
    background: url('../img/header.jpg') no-repeat 0 -100px;
    height: 600px;
    padding:30px 0;

    h1 {
        font-size: 38px;
    }

    .container {
        background: #fff;
        opacity: 0.8;
        padding:20px 30px 30px 30px;
    }
}

.section-a {
    background: $main-color;
    text-align: center;
    padding: 30px 0;
    color: set-text-color($main-color);

    .fab {
        font-size: 70px;
    }
}